Beginner-Friendly Sample Application for Angular 17 and ASP.NET Core 8.0
<br />
Build a cloud-ready application using the latest web technologies for free!
<br />
This sample application showcases a practical implementation of Angular 17 frontend and ASP.NET Core 8.0 backend, communicating through asynchronous RESTful APIs. It's designed for beginners to explore and learn from.
<br />
<br />
Key Features:
<br />
<ul>
  <li>Modern Tech Stack: Leverages <a href="https://angular.io/" target="_blank">Angular 17</a> and <a href="https://dotnet.microsoft.com/en-us/download/dotnet/8.0" target="_blank">ASP.NET Core 8.0</a> for a robust and scalable foundation.</li>
  <li>Cloud-Ready: Runs seamlessly on Linux environments, including free <a href="https://www.oracle.com/uk/cloud/" target="_blank">Oracle Cloud Linux</a> VPS hosting (free tier).</li>
  <li>Open-Source: Explore the code on GitHub and adapt it for your own projects.</li>
  <li>Educational Resources: Future YouTube tutorials planned to guide you through the code and concepts.</li>
</ul>
<br />
Get Started:
<br />
<ol>
  <li>Access the Live Demo: Experience the application in action at <a href="https://datum.vagweb.com" target="_blank">https://datum.vagweb.com</a>.</li>
  <li>Download the Code: Clone the repository from <a href="https://github.com/edwinwcw2021/Public-Angular-Dotnetcore8-GettingStarted" target="_blank">GitHub Datum calculation</a>.</li>
  <li>Explore and Learn: Dive into the code and experiment with its features.</li>
  <li>Build Your Own: Use it as a foundation for your own web development projects.</li>
</ol>
<br />
Important Note:
<br />
The HKG80 to WGS84 calculation logic is based on a 20-year-old model and may not provide high precision. Its purpose is primarily for demonstrating Angular and ASP.NET Core concepts.
<br>
<br />
<br />
References:
<br>
GitHub repository (<a href="https://github.com/edwinwcw2021/TidalStream2002" target="_blank">Tidal Stream 2002 VB6 version</a>) Previous project for HKG80 to WGS84 logic
<br />
<br />
Hydrographic office website for <a href="https://www.hydro.gov.hk/eng/datumnew.php" target="_blank">datum transformation</a>. The calculations run much faster using ASP.NET Core (this page) than with PHP.
<br>
Please feel free to leave any questions or feedback on the GitHub repository.
<br>
<br />
<br />
<br />
Vision 1.0 First Release
<br>
Edwin Wong
<br />
Dec 27, 2023
<br />

